*{
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.input {
    width: 50%;
}

.label-txt {
    margin-right: 42%;
}

.btn-align {
    margin-top: 2%;
    margin-right: 13%;
}

.text-area {
    margin-top: 2%;
    margin-right: 38%;
}

.table {
    width: 60%;
}

.td-acoes {
    width: 20%;
}