<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">

<div align='center' class='col-md-12'>
    <h3 class='col-md-10'>Categorias</h3>

    <button type="button" class="btn btn-primary col-md-2" data-toggle="modal" data-target="#exampleModal" >
        Cadastrar categoria
    </button>
</div>   

<table class="table table-bordered" align="center">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Perecível</th>
      <th scope="col">Descrição</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Laticinios</td>
      <td>Sim</td>
      <td>Teste uhihsdfsdfjsfld</td>
      <td class="td-acoes">
         <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
         <i class="fa fa-trash-o" aria-hidden="true"></i>
      </td>
    </tr>
  </tbody>
</table>

 <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" align="center">Cadastro de Categoria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" align="center">
        <label class='label-txt'>Nome:</label>
        <input type='text' class='form-control input' [(ngModel)]="nomeCategoria" placeholder="Nome da categoria">
        <label class='text-area'>Descrição:</label>
        <textarea rows="4" cols="50" class="form-control input " placeholder="Descrição da categoria"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="cadastrarCategoria()">Salvar</button>
      </div>
    </div>
  </div>
</div>
