*{
    font-family: 'Barlow Semi Condensed', sans-serif;
}


.btn-addProduto {
    float: right;  
}

.alert-erro {
    width: 60%;
}

.tbl-Produtos {
    width: 20%;
}

.tblProdutos {
    width: 50%;
}

.label-txt {
    margin-right: 42%;
}

.input {
    width: 50%;
}

.details {
    margin-left: 5%;
}

.perecivel {
    margin-right: 37%;
    margin-top: 2%;
}

.categoria {
    margin-right: 40%;
}